.recipe {
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  font-size: 0.8rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
  }

  .recipeInfoDiv {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: #dc3b0a;

    h1 {
      padding: 0;
      margin: 0;
      line-height: 2rem;
      padding-bottom: 1rem;
      font-size: 1.6rem;
      text-align: center;
    }

    .labels {
      display: flex;
      justify-content: space-evenly;
      padding: 0rem 1rem;
      padding-bottom: 0.5rem;
      color: #9c2c09;
      margin-top: 0.6rem;

      span {
        padding: 2px;
        border-radius: 0.2rem;
        text-transform: capitalize;
        margin: 0.2rem;
        background-color: #e5e5e5;
      }
    }
  }
}
