.loadingPageBigDiv {
  padding: 4rem 12rem;
  padding-bottom: 15rem;
  position: relative;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #dc3b0a;

  h1 {
    font-size: 2.5rem;
    padding: 0;
    text-align: center;
  }
  .animationDiv {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 80px;
    min-width: 250px;
    max-width: 250px;
    max-height: 80px;
    margin: auto;

    .col1,
    .col2,
    .col3,
    .col4,
    .col5 {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: 100%;

      .square {
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-color: #dc3b0a;
        border-radius: 50%;
      }
    }
  }
}

@keyframes bouncingB {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(50px);
  }
}

.col1 {
  animation: bouncingB 500ms infinite alternate;
}

.col2 {
  animation: bouncingB 500ms 50ms infinite alternate;
}

.col3 {
  animation: bouncingB 500ms 90ms infinite alternate;
}

.col4 {
  animation: bouncingB 500ms 130ms infinite alternate;
}

.col5 {
  animation: bouncingB 500ms 170ms infinite alternate;
}

@media only screen and (max-width: 600px) {
  .loadingPageBigDiv {
    padding: 1rem 2rem;
    padding-bottom: 5rem;
  }
}
