.Footer {
  display: flex;
  background-color: #d34920;
  flex-direction: row;
  color: white;
  align-items: center;
  width: 98.7vw;
  height: 30vh;
  align-self: flex-end;

  .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    flex: 1;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: #e64211;
    }
  }
  .col2 {
    width: 100%;
    height: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: 1.7rem;
      padding: 0;

      li {
        padding: 0.3rem !important;
        font-size: 1rem;

        &:first-child {
          padding-top: 1rem;
        }
        span {
          padding-left: 0.5rem;
        }
      }
    }

    &:hover {
      background-color: #e64211;
    }
  }

  .col3 {
    width: 100%;
    height: 100%;
    text-align: center;
    flex: 1;

    h3 {
      font-size: 1.7rem;
      font-weight: 400;
      padding: 0;
    }

    &:hover {
      background-color: #e64211;
    }

    ul {
      list-style: none;
      font-size: 1.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;

      li {
        padding: 0.6rem;

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Footer {
    flex-direction: column;
    width: 100%;
    height: 40rem;
  }
}
